/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200&display=swap');
/* geral */
*, ::after, ::before {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h4, p, li, span, strong{
    color: #222218;
}
/* header */
@media (min-width: 1200px) {
    header{
        margin-bottom: 67px;
    }
}
header .imgs{
    padding: 20px 0;
}
@media (min-width: 1200px) {
    header .imgs{
        padding: 59px 0;
    }
}
header .vitta{
    height: 30px;
    margin: auto 25px auto auto;
}
@media (min-width: 1200px) {
    header .vitta{
        height: 44px;
        margin: auto 49px auto auto;
    }
}
header .prest{
    height: 32px;
    margin: 0 auto 0 0;
}
@media (min-width: 1200px) {
    header .prest{
        height: 57px;
        margin: 0;
    }
}
/* seção com background gradient */
.gbg h1{
    font-size: 44px;
    font-weight: bold;
    margin: 40px 0 15px;
    text-align: center;
}
@media (min-width: 1200px) {
    .gbg h1{
        text-align: left;
    }
}
.gbg h2.left{
    font-size: 34px;
    font-weight: normal;
    line-height: 38px;
    margin: 0 0 35px;
    text-align: center;
}
@media (min-width: 1200px) {
    .gbg h2.left{
        text-align: left;
    }
}
.gbg h2.left strong{
    font-weight: bold;
}
.gbg img.pin{
    height: 67px;
    margin-right: 15px;
}
@media (min-width: 700px) {
    .gbg img.pin{
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    .gbg img.pin{
        margin-left: 0;
    }
}
.gbg p.inline{
    display: inline;
    margin: auto 0;
    font-size: 22px;
    font-weight: bold;
}
@media (min-width: 700px) {
    .gbg p.inline{
        margin-right: auto;
    }
}
@media (min-width: 1200px) {
    .gbg p.inline{
        margin-right: 0;
    }
}
#centersection{
    width: 100%;
    margin: 50px 0 0;
}
@media (min-width: 1200px) {
    #centersection{
        width: unset;
        margin: 0;
        height: 320px;
        transform: scale(1.3) translateY(-20px);
    }
}
#nomemoradora{
    text-align: center;
    font-size: 12px;
    margin: 0 0 40px;
}
@media (min-width: 1200px) {
    #nomemoradora{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 140px;
        margin: 0;
        text-align: left;
        font-size: 12px;
    }
}
.gbg {
    background-image: linear-gradient(220deg, #99c33b, #c4d730);
}
.gbg .formhead{
    margin: 30px 0 5px;
}
.gbg img.right{
    width: 37px;
    height: 68px;
    margin-right: 16px;
}
.gbg h2.right{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: auto 0;
}
form{
    margin-left: 50px;
    margin-bottom: 50px;
}
@media (min-width: 1200px) {
    form{
        margin-bottom: 0;
    }
}
form label{
    color: white;
    font-size: 10px;
}
form input{
    font-size: 10px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px white;
    width: 100%;
    margin: 5px 5px;
    padding: 5px 15px;
}
form input::placeholder{
    color: white;
}
form input[type="checkbox"]{
    width: unset;
}
form input[type="submit"]{
    color: black; /*#222218;*/
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}
/* seção videos */
#carrosselvideos img{
    cursor: pointer;
}
/* seção prova social */
.prova{
    padding: 50px 0 50px;
}
@media (min-width: 1200px) {
    .prova{
        padding: 90px 0 80px;
    }
}
.prova .baloon{
    margin-bottom: 20px;
}
.prova .baloon img{
    height: 49px;
    margin-right: 10px;
}
.prova .baloon p{
    margin: auto 0;
}
/* carrossel */
.mx-auto{
    margin-right: auto;
    margin-left: auto;
}
.carrosselsection{
    padding: 60px 0;
}
#carrosselsocial .imgside img{
    width: 70%;
    margin: auto;
}
#carrosselsocial .txtside{
    margin: 40px 0;
}
#carrosselsocial .txtside .txt p{
    font-size: 18px;
    line-height: 28px;
}
#carrosselsocial .txtside .nome{
    margin-top: 20px;
    margin-right: 50px;
}
#carrosselsocial .txtside .nome p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 200;
    font-style: italic;
}
#carrosselsocial .txtside img{
    width: 50px;
}
#carrosselsocial .txtside img.aspinit{
    position: absolute;
    left: -45px;
    top: -15px;
}
#carrosselsocial .txtside img.aspend{
    position: absolute;
    display: inline;
    margin: 6px ​0 0 8px;
}
/* footer */
footer{
    padding: 20px 0 50px;
}
footer .vitta{
    height: 30px;
    margin: auto 25px auto auto;
}
@media (min-width: 1200px) {
    footer .vitta{
        height: 44px;
        margin: auto 25px auto auto;
    }
}
footer .prest{
    height: 32px;
    margin: 0 auto 0 0;
}
@media (min-width: 1200px) {
    footer .prest{
        height: 57px;
        margin: 0 auto 0 0;
    }
}
/* carrossel */

.owl-carousel .owl-dots{
    margin-top: 35px;
    display: flex;
}
.owl-carousel .owl-dot{
    background-color: #b1b1b1!important;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0 10px;
}
.owl-carousel .owl-dot.owl-dot.active{
    background-color: #8bb633!important;
}
.owl-carousel .owl-dot:first-child{
    margin-left: auto;
}
.owl-carousel .owl-dot:last-child{
    margin-right: auto;
}

.owl-carousel .owl-nav button {
    position: absolute;
    top: 10%;
    width: 30px;
    color: white!important;
    margin: 0;
    transition: all 0.3s ease-in-out;
    font-size: 100px!important;;
}
.owl-carousel .owl-nav button.owl-prev {
    left: 0!important;
    margin-left: -50px;
}
.owl-carousel .owl-nav button.owl-next {
    right: 0!important;
    margin-right: -50px;
}
@media (min-width: 1300px) {
    .owl-carousel .owl-nav button.owl-prev {
        margin-left: -100px;
    }
    .owl-carousel .owl-nav button.owl-next {
        margin-right: -100px;
    }
}
.owl-carousel .owl-nav button:focus {
    outline: none;
}
/* modal youtube */
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #0007;
    z-index: 1;
    display: none;
}
.modal.active{
    display: flex;
}
.modal .internal{
    margin: auto;
}
#ytclose{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
@media (min-width: 1300px) {
    #ytclose{
        right: 50px;
    }
}
iframe#yt{
    max-width: 100%!important;
}